<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dhani.kholas">
    <!-- Permission required for Downloading Files -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission required for Checking Internet Connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permission required for Reading Writing SD Card/Memory -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".page.SplashActivity"></activity>
        <activity
            android:name=".page.SlidingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.TargetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.JuzActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".page.PrestasiActivity"
            android:screenOrientation="portrait" />
        <receiver android:name=".adapter.AlarmReceiver"
            android:process=":remote"/>
    </application>

</manifest>